<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>有求必应金融-中小企业贷款撮合平台</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <% include ../context.ejs %>
    <link rel="stylesheet" href="<%= web_domain%>/css/pc/layout.css">
    <link rel="stylesheet" href="<%= web_domain%>/css/pc/select2.css">
    <script type="text/javascript" src="<%= web_domain%>/js/jquery.js"></script>
    <script type="text/javascript" src="<%= web_domain%>/js/pc/interface.js"></script>
    <script type="text/javascript" src="<%= web_domain%>/js/pc/select2.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="<%= web_domain%>/js/pc/html5shiv.min.js"></script>
    <![endif]-->
    <script>
        $(function(){
            $('select').select2();
        })
    </script>
</head>
<body>
<header>
    <div class="headerWrap">
        <div class="logo"><img src="<%= web_domain%>/images/pc/logo.jpg" /></div>
        <div class="enterPlaform"><em>572万</em>企业首选贷款平台 <a href="#" class="enterButton">进入平台</a> </div>
    </div>
</header>
<section class="main">
    <div class="banner">
        <img src="<%= web_domain%>/images/pc/wenAnend.png">
    </div>
    <div class="menu">
        <a href="<%= web_domain%>/pc/index?id=<%= id%>">活动首页</a>
        <a href="<%= web_domain%>/pc/rules?id=<%= id%>">活动规则</a>
        <a href="<%= web_domain%>/pc/shows?id=<%= id%>">作品秀</a>
        <a href="<%= web_domain%>/pc/finish?id=<%= id%>" class="cur">中奖名单</a>
    </div>

    <div class="maincontent">
        <div class="mainList">
            <div class="wenAnCollection">
                <span><img src="<%= web_domain%>/images/pc/active_07.png"></span>
                <div class="tableCollection">
                    <div class="wenAnTitle">
                        <img src="<%= web_domain%>/images/pc/active_11.png">
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                </div>
                <div class="tableCollection">
                    <div class="wenAnTitle">
                        <img src="<%= web_domain%>/images/pc/active_14.png">
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                </div>
                <div class="tableCollection">
                    <div class="wenAnTitle">
                        <img src="<%= web_domain%>/images/pc/active_16.png">
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                </div>
                <div class="tableCollection">
                    <div class="wenAnTitle">
                        <img src="<%= web_domain%>/images/pc/active_18.png">
                    </div>
                    <div class="wenAnWinner">
                            <span class="winnerList">
                                <div class="avatarImg">
                                    <img src="<%= web_domain%>/images/pc/list_23.png">
                                    <span class="avatarImgWrap"></span>
                                </div>
                                粟国刚
                            </span>
                        <span><img src="<%= web_domain%>/images/pc/list_18.png"> 投票总数：<em>1,023,045</em></span>
                        <span><img src="<%= web_domain%>/images/pc/active_21.png">兑奖码：<em>【11001SF3502】</em></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    © 2015有求必应金融 www.bing100.com
</footer>
<!--单页面使用多分享按钮需要增加的分享参数代码-->
<% include ../jiathis.ejs %>
</body>
</html>
